  
  section {
  margin-top: 100px;
}
.home__title {
  margin-bottom: 24px;
  color: var(--light-text-color-title, #11142d);
  font-family: Mulish;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 37.2px */
  letter-spacing: 0.155px;
}
