.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 20px 0;
  background: #109be9;
  z-index: 10;
  .navbar {
    display: flex;
    gap: 40px;
    li {
      padding: 5px 0;
      position: relative;
      overflow: hidden;
      transition: 0.3s;
      @media (max-width: 1050px) {
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        transition: 0.3s;
      }
      &:hover::before {
        background: #fff;
        width: 100%;
        height: 2px;
      }
      a {
        color: var(--light-base-color-white, #fff);
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
        letter-spacing: 0.08px;
        overflow: hidden;
        transition: all 0.3s;
      }

      .active {
        position: relative;
        color: #024472;
        &::before {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          bottom: -6px;
          background: #000000a7;

        }
      }
    }
  }
}
