@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding: 0 20px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
section {
  margin-top: 180px;
}